$size: 25vw;

body {
  overflow: hidden;
}
.header_block {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 4vw;
    background-color: $light;
    transition: width $transform-s-sm;
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4vw;
    height: 100%;
    background-color: $light;
    transition: height $transform-s-sm;
  }
}

.heart {
  z-index: 9999;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $pink;
  width: $size;
  height: $size;
  transform: rotate(-45deg) scale(1);
  animation: beat 2s infinite;
  transition: scale $transform-s-sm ease-out, opacity $transform-s-sm ease-out;

  &:after,
  &:before {
    content: "";
    background-color: $pink;
    border-radius: 50%;
    position: absolute;
    width: $size;
    height: $size;
    animation: beat-color 2s infinite;
  }

  &:after {
    top: 0;
    left: calc(#{$size} / 2);
  }

  &:before {
    top: calc(-1 * #{$size} / 2);
    left: 0;
  }
}

// Анимация масштаба и цвета самой "базы" сердца
@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
    background-color: $pink;
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
    background-color: $pink-hover;
  }
  100% {
    transform: scale(1) rotate(-45deg);
    background-color: $pink;
  }
}

// Анимация цвета для before/after
@keyframes beat-color {
  0% {
    background-color: $pink;
  }
  50% {
    background-color: $pink-hover;
  }
  100% {
    background-color: $pink;
  }
}

.header_block_close {
  cursor: default;
  &::after {
    width: 0%;
  }
  &::before {
    height: 0%;
  }
}

.heart_close {
  animation-play-state: paused !important;
  rotate: 0deg;
  scale: 3;
  opacity: 0;

  /* для псевдо‑элементов тоже */
  &::before,
  &::after {
    animation-play-state: paused !important;
  }
}
