@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOutLoader {
  to {
    opacity: 0;
  }
}
.loader {
  background-color: #000;
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100vw;
  height: 100vh;
  animation: fadeOutLoader 1s 7s forwards;
}
.fadeIn {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1s 8s forwards;

  & .heartPulse {
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    top: 0;
  }
  & .heartPulseClose {
    animation: fadeOut 1s 0.2s forwards;
  }
}
