@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOutLoader {
  to {
    opacity: 0;
  }
}
.loader {
  background-color: var(--background);
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100vw;
  height: 100vh;
  animation: fadeOutLoader 1s 4s forwards;
}
.fadeIn {
  overflow: hidden;
  animation: fadeIn 1s 5s forwards;

  & .heartPulse {
    position: absolute;
    z-index: 9999;
    top: 0;
  }
  & .heartPulseClose {
    animation: fadeOut 1s 0.2s forwards;
  }
}
.background_block {
  background-color: var(--background-block);
  border-radius: r($border-radius-lg);
  padding: r($spacing-xl);
  padding-inline: r($spacing-md);
  margin-bottom: calc(r($spacing-xxxl) * 2);
  margin-top: r($spacing-xl);
  box-shadow: 0 r(0) r(20) #fcb2c6;
  position: relative;
  overflow: hidden;

  & .backHeart {
    position: relative;
    z-index: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(r($spacing-xl) * -1);
      left: -(r($spacing-md)); // способ 2: тоже безопасный
      width: calc(100% + r($spacing-md) * 2);
      height: calc(100% + r($spacing-xl) * 2);
      background-repeat: repeat;
      background-position: 0 0;
      background-size: auto;
      background-blend-mode: multiply;
      will-change: background-position, opacity;
      transform: translateZ(0);
      z-index: -1;
      opacity: 1;
      animation: fadeInHeart 6s ease-out infinite,
        bgScroll 10s ease-in-out infinite;
    }

    // Специфично для каждой картинки
    &::after {
      background-image: url("Love/backHeart.png");
    }

    &::before {
      background-image: url("backHeart.png");
    }
  }
}
@keyframes bgScroll {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 20px 10px;
  }
  50% {
    background-position: -15px 25px;
  }
  75% {
    background-position: 30px -20px;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes fadeInHeart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.08;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.08;
  }
  100% {
    opacity: 0;
  }
}
