// Размеры шрифтов
$font-size-xss: 10;
$font-size-xs: 12;
$font-size-sm: 14;
$font-size-md: 16;
$font-size-lg: 18;
$font-size-xl: 24;
$font-size-xxl: 28;
$font-size-xxl: 32;
$font-size-xxxl: 48;
$font-size-xxxxl: 64;
$font-size-xxxxxl: 96;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;
