$transform-s-xsssss: 0.03s;
$transform-s-xssss: 0.05s;
$transform-s-xsss: 0.08s;
$transform-s-xss: 0.1s;
$transform-s-xs: 0.15s;
$transform-s-sm: 0.3s;
$transform-s-md: 0.5s;
$transform-s-lg: 0.75s;
$transform-s-xl: 1s;
$transform-s-xxl: 1.25s;
$transform-s-xxxl: 1.5s;
$transform-s-xxxxl: 1.75s;
$transform-s-xxxxxl: 2s;
